@model inCaptiva_UI.Models.Data

@{
    ViewData["Title"] = "Frontpage";
}

<style>
    #project {
        border: 1px solid;
        background-color: red;
        height: 20px;
        /*display: inline-block;*/
    }

    #task {
        border: 1px solid;
        /*background-color: blue;*/
        height: 20px;
        margin-left: -4px;
        display: inline-block;
    }

    #task2 {
        border: 1px solid;
        /*background-color: blue;*/
        height: 20px;
        margin-left: -4px;
        margin-top: -30px;
        display: inline-block;
    }

    #workEntry {
        border: 1px solid;
        background-color: green;
        height: 20px;
        /*display: inline-block;*/
    }

    #worker {
        border: 1px solid;
        background-color: gold;
        height: 20px;
        /*display: inline-block;*/
    }

    #diagram {
        border: 1px solid;
        width: 75%;
    }

    #label {
        width: 120px;
        display: inline-block;
    }
</style>

<p></p>
<p></p>
@using (Html.BeginForm())
{
    <button type="submit">Replace with test data</button>
}
<p></p>
<p></p>


<div id="diagram">
    @{ string[] color = new string[] { "red", "green", "blue", "yellow" }; }
    @{ int lastID = -1; }
    @{ int i = 0; }
    @foreach (var task in Model.Task)
    {
        //new project
        if (task.ProjectID != lastID)
        {
            i = 0;
            <br />
            <div id="label">Projekt ID - @(task.ProjectID): </div>
        }

        //task
        <div id="task" style="background-color: @(color[i]); width: @(((task.EstimatedTime.TotalHours)/2).ToString().Replace(',','.'))%">@(task.ID)</div>
        //<div id="task2" style="background-color: black; width: @(((task.TimeUsed.TotalHours)/2).ToString().Replace(',','.'))%">@(task.ID)</div>

        lastID = task.ProjectID;
        i++;
        if (i > color.Length-1)
        {
            i = 0;
        }
    }

</div>
