@model IEnumerable<InCaptivaService.Worker>

@{
    ViewData["Title"] = "Employee";
}

<h2>Employee</h2>
@using(Html.BeginForm()) {
    <p>
        Name: <input type="text" name="Name">
        Phone number: <input type="text" name="PhoneNumber">
        Email: <input type="text" name="Email">
        Job description: <input type="text" name="JobDescription">
        <button type="submit">Add new employee</button>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit","Edit",new { /* id=item.PrimaryKey */
               }) |
                    @Html.ActionLink("Details","Details",new { /* id=item.PrimaryKey */
               }) |

                    @Html.ActionLink("Delete","Delete","HomeController",new {
                   id = item.ID
               },
                    new {
                        onclick = "return confirm('Are you sure you want to delete this?')"
                    })
                </td>
            </tr>
        }
    </tbody>
</table>
